body {
    background-image: url("paper.jpg");
  }
form
{
    
    background-color: blue;
}
form{

color:black;
    
}
form{
    font-family:Impact, italics, 'Arial Narrow Bold', sans-serif ;
font-weight : bold;
}
form{border: 7px;
    border-radius: 9px;
    padding: 90px;
    width: 400px;
}
form{

    margin: auto;

}
image{

width: auto;
height: auto;
}
body{

    background-color: black;
}
