body {
    background-image: url("paper.jpg");
  }
form
{
    
    background-color: blue;
}
form{

color:black;
    
}
form{
    font-family:Impact'Arial Narrow Bold', sans-serif ;
font-weight : bold;
}
form{border: 2px;
    border-radius: 8px;
    padding: 5px;
    width: 400px;
}
form{

    margin: auto;

}
image{

width: auto;
height: auto;
}
